@{
    ViewBag.Title = "Check out";

    ViewBag.Home = "";
    ViewBag.Product = "";
    ViewBag.MyAccount = "";
    ViewBag.MyOrder = "";

    Layout = "~/Views/Shared/_LayouUser.cshtml";
}

@section loadAddress
{
    <!--Chèn script để load ck editor-->
    @Scripts.Render("~/bundles/loadAddress")
}

<!-- Title Page -->
<section class="bg-title-page p-t-40 p-b-50 flex-col-c-m" style="background-image: url(../../Content/img/mainIMG/shop-banner.jpg);">
    <h2 class="l-text2 t-center">
        CHECK OUT
    </h2>
</section>

<!-- Cart -->
<section class="cart bgwhite p-t-20 p-b-100">
    <div class="container" style="text-align: center">
        <!-- Total -->
        <div class="bo9 p-l-40 p-r-40 p-t-30 p-b-38 m-t-30 m-r-0 m-l-auto p-lr-15-sm w-size16" style="display inline-block; text-align left">
            <h5 class="m-text20 p-b-24">
                Shipping Information
            </h5>
            <!-- FORM SHIP INFO ================================= -->
            <form action="#" method="get" id="shipInfo" class="to-validate" novalidate onsubmit="return checkAddress()">
                <div class="flex-w flex-sb bo10 p-t-15 p-b-20">
                    <!-- Row shipName -->
                    <span class="s-text18 w-size15 w-full-sm p-t-5">
                        Receiver name *
                    </span>
                    <div class="w-size16 w-full-sm">
                        <div class="m-b-12">
                            <input class="form-control s-text8 p-l-15 p-r-15" type="text" name="shipName" placeholder="* Enter receiver name" id="validationCustom01"
                                   required>
                            <div class="invalid-feedback">
                                Receiver name is required!
                            </div>
                        </div>
                    </div>

                    <!-- Row shipPhone -->
                    <span class="s-text18 w-size15 w-full-sm p-t-5">
                        Phone *
                    </span>
                    <div class="w-size16 w-full-sm">
                        <div class="m-b-12">
                            <input class="form-control s-text8 p-l-15 p-r-15" type="text" name="shipPhone" placeholder="* Enter phone number (8 - 11 numbers)"
                                   id="validationCustom02" required pattern=".{8,11}[0-9]">
                            <div class="invalid-feedback">
                                Invalid phone number! (8-11 numbers)
                            </div>
                        </div>
                    </div>

                    <!-- Row shipCity -->
                    <span class="s-text18 w-size15 w-full-sm p-t-10">
                        City *
                    </span>
                    <div class="rs2-select2 rs3-select2 rs4-select2 of-hidden w-size16 m-t-8 m-b-12">
                        <select class="selection-2 s-text8" name="shipCity" id="shipCity" onchange="checkAddress()">                           
                        </select>
                        <span id='messageForCity' class="s-text8"></span>
                    </div>

                    <!-- Row shipDistrict -->
                    <span class="s-text18 w-size15 w-full-sm p-t-10">
                        District *
                    </span>
                    <div class="rs2-select2 rs3-select2 rs4-select2 of-hidden w-size16 m-t-8 m-b-12">
                        <select class="selection-2 s-text8" name="shipDistrict" id="shipDistrict" onchange="checkAddress()">
                        </select>
                        <span id='messageForDis' class="s-text8"></span>
                    </div>

                    <!-- Row shipWard -->
                    <span class="s-text18 w-size15 w-full-sm p-t-10">
                        Ward *
                    </span>
                    <div class="rs2-select2 rs3-select2 rs4-select2 of-hidden w-size16 m-t-8 m-b-12">
                        <select class="selection-2 s-text8" name="shipWard" id="shipWard" onchange="checkAddress()">                           
                        </select>
                        <span id='messageForWard' class="s-text8"></span>
                    </div>

                    <!-- Row shipStreet -->
                    <span class="s-text18 w-size15 w-full-sm p-t-5">
                        Street
                    </span>
                    <div class="w-size16 w-full-sm">
                        <div class="m-b-12">
                            <input class="form-control s-text8 p-l-15 p-r-15" type="text" name="shipStreet" placeholder="Enter street name">
                        </div>
                    </div>

                    <!-- Row shipAddressNumber -->
                    <span class="s-text18 w-size15 w-full-sm p-t-5">
                        Address number
                    </span>
                    <div class="w-size16 w-full-sm">
                        <div class="m-b-12">
                            <input class="form-control s-text8 p-l-15 p-r-15" type="text" name="shipAddressNumber" placeholder="Enter address number">
                        </div>
                    </div>

                    <!-- Row shipNote -->
                    <span class="s-text18 w-size15 w-full-sm p-t-5">
                        Delivery Note
                    </span>
                    <div class="w-size16 w-full-sm">
                        <div class="m-b-12">
                            <textarea name="shipNote" class="form-control s-text8 p-l-15 p-r-15" placeholder="For delivery note . . ." rows="5"></textarea>
                        </div>
                    </div>

                    <span class="s-text18 w-size15 w-full-sm p-t-5">
                    </span>
                    <div class="trans-0-4 m-b-10">
                        <!-- Button -->
                        <button class="flex-c-m sizefull bg1 bo-rad-23 hov1 s-text1 trans-0-4 p-t-10 p-b-10 p-r-20 p-l-20" type="submit">
                            Update Totals
                        </button>
                    </div>
                </div>
            </form>
            <!-- END FORM============================ -->

            <!-- Update this after submit from above: Calculate shipping fee => Total -->
            <div id="checkoutTotal">
                <div class="flex-w flex-sb-m p-t-26 p-b-30">
                    <div class="flex-w flex-m w-full-sm">
                        <span class="m-text21 w-size19 w-full-sm">
                            Subtotal:
                        </span>
                    </div>
                    <div class="flex-w flex-m w-full-sm">
                        <span class="m-text21 w-size20 w-full-sm">
                            $36.00
                        </span>
                    </div>
                </div>
                <div class="flex-w flex-sb-m p-t-26 p-b-30">
                    <div class="flex-w flex-m w-full-sm">
                        <span class="m-text21 w-size19 w-full-sm">
                            Shipping Fee:
                        </span>
                    </div>
                    <div class="flex-w flex-m w-full-sm">
                        <span class="m-text21 w-size20 w-full-sm">
                            $10.00
                        </span>
                    </div>
                </div>
                <div class="flex-w flex-sb-m p-t-26 p-b-30">
                    <div class="flex-w flex-m w-full-sm">
                        <span class="m-text20 w-size19 w-full-sm">
                            Total:
                        </span>
                    </div>
                    <div class="flex-w flex-m w-full-sm">
                        <span class="m-text20 w-size20 w-full-sm">
                            $46.00
                        </span>
                    </div>
                </div>

                <div class="flex-w flex-sb-m p-t-26 p-b-30">
                    <div class="flex-w flex-m w-full-sm">
                        <span class="m-text21 w-size19 w-full-sm">
                            <!-- Leave this span empty! -->
                        </span>
                    </div>
                    <div class="flex-w flex-m w-full-sm">
                        <div class="trans-0-4 m-b-10">
                            <!-- Button -->
                            <a href="orders.html" class="flex-c-m sizefull bg1 bo-rad-23 hov1 s-text1 trans-0-4 p-t-10 p-b-10 p-r-20 p-l-20">
                                confrim order
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

