@{
    ViewBag.Title = "Manage Order";

    ViewBag.Info = "";
    ViewBag.Account = "";
    ViewBag.Order = "active";
    ViewBag.Watch = "";

    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section scripts
{
    <!--Bổ sung script để load table order-->
}

<div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">Orders Management</li>
    </ol>

    <!-- DataTables Card-->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-users "></i> Orders List
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>OrderID</th>
                            <th>CustomerID</th>
                            <th>Order Date</th>
                            <th>Total ($)</th>
                            <th>Status</th>
                            <th>More Details</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>OrderID</th>
                            <th>CustomerID</th>
                            <th>Order Date</th>
                            <th>Total ($)</th>
                            <th>Status</th>
                            <th>More Details</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <!-- Vòng for cho list data -->
                        <tr>
                            <td>O1</td>
                            <td>cus1</td>
                            <td>2017-12-31</td>
                            <td>123.0</td>
                            <td>Complete</td>
                            <td>
                                <a href="#" data-toggle="modal" data-target="#editModal">
                                    <i class="fa fa-edit"></i>
                                    View Details & Edit
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

