@{
    ViewBag.Title = "Manage Watch";

    ViewBag.Info = "";
    ViewBag.Account = "";
    ViewBag.Order = "";
    ViewBag.Watch = "active";

    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section scripts
{
    <!--BỔ sung script để tạo table watch sau-->
    @Scripts.Render("~/bundles/datatable_watch")
}

<div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">Watch Management</li>
    </ol>

    <!-- DataTables Card-->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-fw fa-cubes" style="display: inline;"></i> Watch List
            @using (@Html.BeginForm("AddWatch", "Admin", FormMethod.Get, new { @class = "form-inline", @style = "display: inline" }))
            {
                <button class="btn btn-danger" type="submit" style="float: right;">Add New Watch</button>
            }
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Watch Code</th>
                            <th>Quantity</th>
                            <th>Price ($)</th>
                            <th>For Sale</th>                            
                            <th>More Details</th>
                        </tr>
                    </thead>                                        
                </table>
            </div>
        </div>
    </div>
</div>


