@{
    ViewBag.Title = "Add Watch";

    ViewBag.Info = "";
    ViewBag.Account = "";
    ViewBag.Order = "";
    ViewBag.Watch = "active";

    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section ckeditor
{
    <!--Chèn script để load ck editor-->
    @Scripts.Render("~/bundles/ckeditor")        
}

@section scripts
{
    <script>
        var file = document.getElementById('inputGroupFile01');
        file.value = '';
        file.onchange = function (e) {
            $('#fileUploadResult').className = '';
            var fileExtension = this.value.match(/\.([^\.]+)$/)[1];
            fileExtension = fileExtension.toLowerCase();
            if (fileExtension === 'png' || fileExtension === 'jpg' || fileExtension === 'jpeg') {
                var size = file.files[0].size;
                if (size > 512000) {
                    //bigger than 500kb, too much for a thumbnail
                    $('#fileUploadResult').addClass('text-danger');
                    $('#fileUploadResult').html('Uploaded file must be under 500KB');
                    this.value = '';
                    return;
                }
               
                $(this).next().after().text($(this).val().split('\\').slice(-1)[0]);
                $('#fileUploadResult').addClass('text-success');
                $('#fileUploadResult').html('Success');
            } else {
                $(this).next().after().text('Choose File');
                $('#fileUploadResult').addClass('text-danger');
                $('#fileUploadResult').html('Only .jpg .jpeg and .png is supported');
                this.value = '';
            }           
        };

        function clearFileError() {
            $('#fileUploadResult').html('');
        }
    </script>
}

<div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="@Url.Action("ManageWatch", "Admin")">Watch Management</a>            
        </li>
        <li class="breadcrumb-item active">Add New Watch</li>
    </ol>

    <!-- DataTables Card-->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-fw fa-cubes"></i> Add New Watch
        </div>
        <div class="card-body">
            <!-- Form for update watch -->
            <form action="#" method="get" class="to-validate" novalidate>
                <div class="row for-input-row" style="font-weight: bold">
                    <div class="col-sm-12">
                        <label for="WatchName">Watch Name (*)</label>
                        <input class="form-control form-control-sm" type="text" name="WatchName" value="" required>
                        <div class="invalid-feedback" style="font-size: 15px;">
                            Name required!
                        </div>
                        
                    </div>
                </div>

                <div class="row for-input-row" style="font-weight: bold; margin-bottom: 50px;">
                    <div class="col-sm-12 custom-file">
                        <label for="Thumbnail">Thumbnail (*)</label>
                        <div class="custom-file" lang="es">
                            <input type="file" class="custom-file-input" id="inputGroupFile01" required accept="image/*" value="">
                            <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                            <div class="invalid-feedback" style="font-size: 15px;">
                                A Thumbnail for product is required!
                            </div>
                            <div id="fileUploadResult"></div>
                        </div>
                    </div>
                </div>
                <br/>

                <div class="row for-input-row" style="font-weight: bold">
                    <div class="col-sm-6">
                        <label for="Quantity">Quantity (*)</label>
                        <input class="form-control form-control-sm" type="number" name="Quantity" value="" min="0" step="1" required>
                        <div class="invalid-feedback" style="font-size: 15px;">
                            Quantity required!
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label for="NameID">Price (*)</label>
                        <input class="form-control form-control-sm" type="number" name="Price" value="" min="0" step="0.1" required>
                        <div class="invalid-feedback" style="font-size: 15px;">
                            Price required!
                        </div>
                    </div>
                </div>

                <div class="row for-input-row" style="font-weight: bold">
                    <div class="col-sm-12">
                        <label for="WatchDescription">Watch Description</label>
                        <br>
                        <textarea name="editor1" id="editor1" rows="10" cols="80">
                        <h1>Watch Description here...</h1>
                                    </textarea>
                        <script>
                            CKEDITOR.replace('editor1');
                        </script>
                    </div>
                </div>


                <div class="row for-input-row" style="font-weight: bold">
                    <div class="col-sm-6">
                        <label for="Movement">Movement</label>
                        <select name="Movement" class="custom-select">
                            <!-- type of movement -->
                            <option value="1">aaaa</option>
                            <option value="1" selected>bbbb</option>
                            <option value="1">cccc</option>
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <label for="Model">Model</label>
                        <select name="Model" class="custom-select">
                            <!-- type of movement -->
                            <option value="1">aaaa</option>
                            <option value="1">bbbb</option>
                            <option value="1">cccc</option>
                        </select>
                    </div>
                </div>

                <div class="row for-input-row" style="font-weight: bold">
                    <div class="col-sm-3">
                        <label for="Movement">Water Resistant</label>
                        <br>
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label class="btn btn-secondary radio-config active">
                                <input type="radio" name="Water" autocomplete="off" checked> Yes
                            </label>
                            <label class="btn btn-secondary radio-config">
                                <input type="radio" name="Water" autocomplete="off"> No
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <label for="LED">LED Light</label>
                        <br>
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label class="btn btn-secondary radio-config active">
                                <input type="radio" name="LED" autocomplete="off" checked> Yes
                            </label>
                            <label class="btn btn-secondary radio-config">
                                <input type="radio" name="LED" autocomplete="off"> No
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <label for="Alarm">Alarm</label>
                        <br>
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label class="btn btn-secondary radio-config active">
                                <input type="radio" name="Alarm" autocomplete="off" checked> Yes
                            </label>
                            <label class="btn btn-secondary radio-config">
                                <input type="radio" name="Alarm" autocomplete="off"> No
                            </label>
                        </div>
                    </div>

                </div>

                <div class="row for-input-row" style="font-weight: bold">
                    <div class="col-sm-12">
                        <label for="BandMaterial">Band Material</label>
                        <input class="form-control form-control-sm" type="text" name="BandMaterial" value="">
                    </div>
                </div>

                <div class="row for-input-row" style="font-weight: bold">
                    <div class="col-sm-6">
                        <label for="CaseMaterial">Case Material</label>
                        <input class="form-control form-control-sm" type="text" name="CaseMaterial" value="">
                    </div>
                    <div class="col-sm-6">
                        <label for="CaseRadius">Case Radius</label>
                        <input class="form-control form-control-sm" type="number" name="CaseRadius" value="" min="0.1" step="0.1">
                    </div>
                </div>

                <div class="row for-input-row" style="font-weight: bold">
                    <div class="col-sm-6">
                        <label for="Discount">Discount (%)</label>
                        <input class="form-control form-control-sm" type="number" name="Discount" value="0" min="0" step="1">
                    </div>
                    <div class="col-sm-6">
                        <label for="Gurantee">Gurantee (Months)</label>
                        <input class="form-control form-control-sm" type="number" name="Gurantee" value="12" min="0" step="1">
                    </div>
                </div>


                <div class="row for-input-row">
                    <div class="col-sm-12 col-lg-12 for-info-name">
                        <button type="submit" class="btn btn-outline-success" id="btn-add-watch" onclick="clearFileError()">Save Changes</button>
                    </div>
                </div>
                <div class="row for-input-row">
                    <div class="col-sm-12 col-lg-12 for-info-name">

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

