<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Account Info</title>
  <!-- Bootstrap core CSS-->
  <link href="../Content/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="../Content/font-awesome/css/fontawesome-all.min.css" rel="stylesheet" type="text/css">
  <!-- Page level plugin CSS-->
  <link href="../Content/dataTables.bootstrap4.css" rel="stylesheet">
  <!-- Custom styles for this template-->
  <link href="../Content/main-admin-page.css" rel="stylesheet">
  <!-- Favicon and touch icons -->
  <link rel="icon" type="image/png" href="../Content/img/icons/favicon.png" />
</head>

<body class="fixed-nav sticky-footer bg-light" id="page-top">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" id="mainNav">

    <a class="navbar-brand" href="#">
      <img src="../Content/img/icons/logo1.png" alt="">
    </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <li class="nav-item">
          <a class="nav-link nav-welcome" href="#">
            <span class="nav-link-text">Welcome, Administrator =]]</span>
          </a>
        </li>
        <li class="nav-item active" data-toggle="tooltip" data-placement="right" title="Dashboard">
          <a class="nav-link" href="admin-info.html">
            <i class="fa fa-fw fa-user"></i>
            <span class="nav-link-text">Account Information</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Manage Users">
          <a class="nav-link" href="admin-manage-user.html">
            <i class="fa fa-fw fa-users "></i>
            <span class="nav-link-text">Manage Users</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Manage Orders">
          <a class="nav-link" href="admin-manage-order.html">
            <i class="fa fa-fw fa-copy"></i>
            <span class="nav-link-text">Manage Orders</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Manage Watches">
          <a class="nav-link" href="admin-manage-watch.html">
            <i class="fa fa-fw fa-cubes"></i>
            <span class="nav-link-text">Manage Watchs</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="modal" data-target="#logoutModal">
            <i class="fa fa-fw fa-sign-out-alt"></i> Logout</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item active">Account Information</li>
      </ol>

      <!-- Content-->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-fw fa-user" style="display: inline;"></i> Manage Account Info
          <form action="#" class="form-inline" style="display: inline;" data-toggle="modal" data-target="#passwordModal">
            <button class="btn btn-danger" type="submit" style="float: right;">Change Password</button>
          </form>
        </div>

        <div class="card-body">
          <!-- FORM CHỈNH SỬA: ======================================================= -->
          <form action="#" method="get" class="to-validate" novalidate>

            <!-- ROW FIRST - LAST NAME: required, 2-30 characters -->
            <div class="row for-input-row" style="font-weight: bold">
              <div class="col-sm-6">
                <label for="FName">First Name</label>
                <input class="form-control form-control-sm" type="text" name="FName" value="" required maxlength="30" minlength="2">
                <div class="invalid-feedback" style="font-size: 15px;">
                  Invalid Firstname (2 - 30 characters)
                </div>
              </div>
              <div class="col-sm-6">
                <label for="LName">Last Name</label>
                <input class="form-control form-control-sm" type="text" name="LName" value="" required maxlength="30" minlength="2">
                <div class="invalid-feedback" style="font-size: 15px;">
                  Invalid LastName (2 - 30 characters)
                </div>
              </div>
            </div>

            <!-- ROW EMAIL: required, email@address.domain  - PHONE: empty OR 8-10 numbers -->
            <div class="row for-input-row" style="font-weight: bold">
              <div class="col-sm-6">
                <label for="Email">Email</label>
                <input class="form-control form-control-sm" type="text" name="Email" value="" required pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[a-z]{2,4}$">
                <div class="invalid-feedback" style="font-size: 15px;">
                  Invalid Email (email@address.domain)
                </div>
              </div>
              <div class="col-sm-6">
                <label for="Phone">Phone</label>
                <input class="form-control form-control-sm" type="text" name="Phone" value="" pattern=".{7,9}[0-9]">
                <div class="invalid-feedback" style="font-size: 15px;">
                  Only 8-10 numbers!
                </div>
              </div>
            </div>

            <!-- ROW DOB, can not exceed today - STARTED DATE: readonly -->
            <div class="row for-input-row" style="font-weight: bold">
              <div class="col-sm-6">
                <label for="DOB">DOB</label>
                <!-- set "date" value with format yyyy-MM-dd -->
                <input class="form-control form-control-sm" type="date" name="DOB" value="" id="validationCustom08">
              </div>
              <div class="col-sm-6">
                <label for="StartedDate">Started Date</label>
                <!-- set "date" value with format yyyy-MM-dd -->
                <input class="form-control form-control-sm" type="date" name="StartedDate" value="2018-01-01" readonly>
              </div>
            </div>

            <!-- GENDER -->
            <div class="row for-input-row" style="font-weight: bold">
              <div class="col-sm-6">
                <label for="Gender">Gender</label>
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                  <label class="btn btn-secondary radio-config">
                    <input type="radio" name="Gender" id="option1" autocomplete="off" checked> Male
                  </label>
                  <label class="btn btn-secondary active radio-config">
                    <input type="radio" name="Gender" id="option2" autocomplete="off"> Female
                  </label>
                </div>
              </div>

            </div>
            <div class="row for-input-row">
              <div class="col-sm-12 col-lg-12" style="text-align: right;">
                <button type="submit" class="btn btn-outline-success">Save Changes</button>
              </div>
            </div>
          </form>
          <!-- END OF FORM ========================================================== -->
        </div>
      </div>
    </div>


    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>Copyright © Kairos 2018</small>
        </div>
      </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="logoutModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="index.html">Logout</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Change password Modal-->
    <div class="modal fade" id="passwordModal" tabindex="-1" role="dialog" aria-labelledby="passwordModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Change Password</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <!-- change password form ========================================================== -->
            <form action="#" method="post" onsubmit="return passOnSubbmit()">
              <label for="password">New Password</label>
              <input class="form-control form-control-sm" type="password" name="password" id="password" value="" required onkeyup='check();' minlength="8">
              <label for="password">Confirm Password</label>
              <input class="form-control form-control-sm" type="password" name="password" id="re-password" value="" required onkeyup='check();' minlength="8">
              <br>
              <span id='message'></span>
          </div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-outline-success">Confirm</button>
          </div>
          </form>

        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="../Scripts/jquery.min.js"></script>
    <script src="../Scripts/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="../Scripts/jquery.easing.min.js"></script>
    <!-- Page level plugin JavaScript-->
    <script src="../Scripts/jquery.dataTables.js"></script>
    <script src="../Scripts/dataTables.bootstrap4.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="../Scripts/sb-admin.js"></script>
    <!-- Custom scripts for this page-->
    <script src="../Scripts/sb-admin-datatables.min.js"></script>
  </div>
</body>

</html>