<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Watch Detail</title>
    <!-- Bootstrap core CSS-->
    <link href="../Content/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="../Content/font-awesome/css/fontawesome-all.min.css" rel="stylesheet" type="text/css">
    <!-- Page level plugin CSS-->
    <link href="../Content/dataTables.bootstrap4.css" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="../Content/main-admin-page.css" rel="stylesheet">
    <!-- Favicon and touch icons -->
	<link rel="icon" type="image/png" href="../Content/img/icons/favicon.png" />
</head>

<body class="fixed-nav sticky-footer bg-light" id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" id="mainNav">

        <a class="navbar-brand" href="#">
            <img src="../Content/img/icons/logo1.png" alt="">
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
                <li class="nav-item">
                    <a class="nav-link nav-welcome" href="#">
                        <span class="nav-link-text">Welcome, Administrator =]]</span>
                    </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
                    <a class="nav-link" href="admin-info.html">
                        <i class="fa fa-fw fa-user"></i>
                        <span class="nav-link-text">Account Information</span>
                    </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Manage Users">
                    <a class="nav-link" href="admin-manage-user.html">
                        <i class="fa fa-fw fa-users "></i>
                        <span class="nav-link-text">Manage Users</span>
                    </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Manage Orders">
                    <a class="nav-link" href="admin-manage-order.html">
                        <i class="fa fa-fw fa-copy"></i>
                        <span class="nav-link-text">Manage Orders</span>
                    </a>
                </li>
                <li class="nav-item active" data-toggle="tooltip" data-placement="right" title="Manage Watches">
                    <a class="nav-link" href="admin-manage-watch.html">
                        <i class="fa fa-fw fa-cubes"></i>
                        <span class="nav-link-text">Manage Watchs</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="modal" data-target="#logoutModal">
                        <i class="fa fa-fw fa-sign-out-alt"></i> Logout</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="content-wrapper">
        <div class="container-fluid">
            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="admin-manage-user.html">Watch Management</a>
                </li>
                <li class="breadcrumb-item active">Watch Details</li>
            </ol>

            <!-- DataTables Card-->
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fa fa-fw fa-sliders-h "></i> View Watch Details</div>
                <div class="card-body">
                    <!-- Form for update watch -->
                    <form action="#" method="get" class="to-validate" novalidate>
                        <div class="row for-input-row" style="font-weight: bold">
                            <div class="col-sm-12">
                                <label for="WatchName">Watch Name (*)</label>
                                <input class="form-control form-control-sm" type="text" name="WatchName" value="" required>
                                <div class="invalid-feedback" style="font-size: 15px;">
                                    Name required!
                                  </div>
                            </div>
                        </div>
                        <div class="row for-input-row" style="font-weight: bold">
                            <div class="col-sm-12">
                                <label for="WatchDescription">Watch Description</label>
                                <br>
                                <textarea name="WatchDescription" class="form-control" id="" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="row for-input-row" style="font-weight: bold">
                            <div class="col-sm-6">
                                <label for="Quantity">Quantity (*)</label>
                                <input class="form-control form-control-sm" type="number" name="Quantity" value="" min="0" step="1" required>
                                <div class="invalid-feedback" style="font-size: 15px;">
                                    Quantity required!
                                  </div>
                            </div>
                            <div class="col-sm-6">
                                <label for="NameID">Price (*)</label>
                                <input class="form-control form-control-sm" type="number" name="Price" value="" min="0" step="0.1" required>
                                <div class="invalid-feedback" style="font-size: 15px;">
                                    Price required!
                                  </div>
                            </div>
                        </div>

                        <div class="row for-input-row" style="font-weight: bold">
                            <div class="col-sm-6">
                                <label for="Movement">Movement</label>
                                <select name="Movement" class="custom-select">
                                    <!-- type of movement -->
                                    <option value="1">aaaa</option>
                                    <option value="1" selected>bbbb</option>
                                    <option value="1">cccc</option>
                                </select>
                            </div>
                            <div class="col-sm-6">
                                <label for="Model">Model</label>
                                <select name="Model" class="custom-select">
                                    <!-- type of movement -->
                                    <option value="1">aaaa</option>
                                    <option value="1">bbbb</option>
                                    <option value="1">cccc</option>
                                </select>
                            </div>
                        </div>

                        <div class="row for-input-row" style="font-weight: bold">
                            <div class="col-sm-3">
                                <label for="Movement">Water Resistant</label>
                                <br>
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-secondary radio-config active">
                                        <input type="radio" name="Water" autocomplete="off" checked> Yes
                                    </label>
                                    <label class="btn btn-secondary radio-config">
                                        <input type="radio" name="Water" autocomplete="off"> No
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <label for="LED">LED Light</label>
                                <br>
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-secondary radio-config active">
                                        <input type="radio" name="LED" autocomplete="off" checked> Yes
                                    </label>
                                    <label class="btn btn-secondary radio-config">
                                        <input type="radio" name="LED" autocomplete="off"> No
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <label for="Alarm">Alarm</label>
                                <br>
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-secondary radio-config active">
                                        <input type="radio" name="Alarm" autocomplete="off" checked> Yes
                                    </label>
                                    <label class="btn btn-secondary radio-config">
                                        <input type="radio" name="Alarm" autocomplete="off"> No
                                    </label>
                                </div>
                            </div>
                            
                        </div>

                        <div class="row for-input-row" style="font-weight: bold">
                            <div class="col-sm-12">
                                <label for="BandMaterial">Band Material</label>
                                <input class="form-control form-control-sm" type="text" name="BandMaterial" value="">
                            </div>
                        </div>

                        <div class="row for-input-row" style="font-weight: bold">
                            <div class="col-sm-6">
                                <label for="CaseMaterial">Case Material</label>
                                <input class="form-control form-control-sm" type="text" name="CaseMaterial" value="">
                            </div>
                            <div class="col-sm-6">
                                <label for="CaseRadius">Case Radius</label>
                                <input class="form-control form-control-sm" type="number" name="CaseRadius" value="" min="0.1" step="0.1">
                            </div>
                        </div>

                        <div class="row for-input-row" style="font-weight: bold">
                            <div class="col-sm-6">
                                <label for="Discount">Discount (%)</label>
                                <input class="form-control form-control-sm" type="number" name="Discount" value="" min="0" step="1">
                            </div>
                            <div class="col-sm-6">
                                <label for="Gurantee">Gurantee (Months)</label>
                                <input class="form-control form-control-sm" type="number" name="Gurantee" value="" min="0" step="1">
                            </div>
                        </div>

                        <div class="row for-input-row" style="font-weight: bold; margin-bottom: 50px;">
                            <div class="col-sm-12 custom-file">
                                <label for="Thumbnail">Thumbnail</label>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="inputGroupFile01">
                                    <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                                </div>
                            </div>

                        </div>

                        <div class="row for-input-row" style="font-weight: bold">
                            <div class="col-sm-6">
                                <label for="PublishedDate">Published Date</label>
                                <input class="form-control form-control-sm" type="date" name="PublishedDate" value="" readonly>
                            </div>
                            <div class="col-sm-6">
                                <label for="PublishedDate">Published By</label>
                                <input class="form-control form-control-sm" type="text" name="PublishedDate" value="" readonly>
                            </div>
                        </div>

                        <div class="row for-input-row"  style="font-weight: bold">
                            <div class="col-sm-6">
                                    <label for="Status">Status</label>
                                    <br>
                                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                        <label class="btn btn-secondary radio-config active">
                                            <input type="radio" name="Status" autocomplete="off" checked> Continue
                                        </label>
                                        <label class="btn btn-secondary radio-config">
                                            <input type="radio" name="Status" autocomplete="off"> Discontinue
                                        </label>
                                    </div>
                            </div>
                                
                        </div>

                        <div class="row for-input-row">
                            <div class="col-sm-12 col-lg-12 for-info-name">
                                <button type="submit" class="btn btn-outline-success">Save Changes</button>
                            </div>
                        </div>
                        <div class="row for-input-row">
                            <div class="col-sm-12 col-lg-12 for-info-name">

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <footer class="sticky-footer">
            <div class="container">
                <div class="text-center">
                    <small>Copyright © Kairos 2018</small>
                </div>
            </div>
        </footer>
        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fa fa-angle-up"></i>
        </a>
        <!-- Logout Modal-->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="logoutModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <a class="btn btn-primary" href="index.html">Logout</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bootstrap core JavaScript-->
        <script src="../Scripts/jquery.min.js"></script>
        <script src="../Scripts/bootstrap.bundle.min.js"></script>
        <!-- Core plugin JavaScript-->
        <script src="../Scripts/jquery.easing.min.js"></script>
        <!-- Page level plugin JavaScript-->
        <script src="../Scripts/jquery.dataTables.js"></script>
        <script src="../Scripts/dataTables.bootstrap4.js"></script>
        <!-- Custom scripts for all pages-->
        <script src="../Scripts/sb-admin.js"></script>
        <!-- Custom scripts for this page-->
        <script src="../Scripts/sb-admin-datatables.min.js"></script>
    </div>
</body>

</html>